.target-wrapper {
    position: absolute;
    top: 20%;
}

.ball-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.target,
.ball {
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 100%;
    box-sizing: border-box;
}

.target {
    border: 1px solid red;
}

.ball {
    background: red;
}

.ball:before {
    content: 'Drag me!';
    font-size: 10px;
    color: white;
    text-align: center;
    display: block;
}