.card-game-demo {
    display: grid;
    grid-template-columns: [left] 50% [middle] 50% [end];
    grid-template-rows: [top] 50% [center] 50% [right];
    width: 100%;
    height: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.card-game-demo .container-wrapper {
    text-align: center;
}

.card-game-demo .container-wrapper:nth-of-type(2) > * {
    transform: rotate(20deg) translateY(20%) scale(1.5);
    transform-origin: 0;
}

@media (max-aspect-ratio: 1/1) {
    .card-game-demo .card-stack {
        width: 40%;
        padding-top: 60%;
    }
}