.transition-element-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.transition-element {
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 100%;
    box-sizing: border-box;
    background-color: red;
    transition: background-color 3s linear;
}

.transition-element:not(.inactive):not(.released) {
    background: blue;
}